<section class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a [routerLink]="['/home']">Accueil</a></li>
      <li><a [routerLink]="['/home']" [queryParams]="{ from: 'portfolio' }">Portfolio</a></li>
      <li>Portfolio Details</li>
    </ol>
    <h2>Portfolio Details</h2>
  </div>
</section>
<ng-container *ngIf="portfolio$ | async as portfolio">
<section id="portfolio-details" class="portfolio-details">
  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-8">
        <div class="portfolio-details-slider">
          <img src="{{ portfolio.photo }}" alt="Single Image">
        </div>
      </div>

      <div class="col-lg-4">
        <div class="portfolio-info">
          <h3>{{ portfolio.title }}</h3>
          <ul>
            <li><strong>Categorie</strong>: {{ portfolio.categorie }}</li>
            <li><strong>URL du projet: </strong>: <a href="{{portfolio.link}}" target="_blank">{{ portfolio.title }}</a></li>
          </ul>
        </div>
        <div class="portfolio-description">
          <h2>{{ portfolio.descriptionTitle }}</h2>
          <p>
            {{ portfolio.description }}
            <br>
            URL du code source:
            <a href="{{portfolio.github}}" target="_blank">{{ portfolio.github }}</a>
          </p>
        </div>
      </div>

    </div>

  </div>
</section>
</ng-container>
