.footer-legal {
  padding-top: 8px;
  padding-bottom: 20px;
  font-size: 13px;
}

.footer-legal a {
  color: #012970;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-legal a:hover {
  color: #4154f1;
  text-decoration: underline;
}
