<footer id="footer" class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">

        <!-- Bloc logo + description -->
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span>LEXOFT</span>
          </a>
          <p [innerHTML]="'footer.description' | translate | sanitizeHtml"></p>
          <div class="social-links mt-3">
            <a href="https://www.linkedin.com/company/102575184/admin/feed/posts/" class="linkedin" target="_blank">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
        </div>

        <!-- Bloc liens -->
        <div class="col-lg-1 col-6 footer-links">
          <h4 [innerHTML]="'footer.links.title' | translate"></h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#" [innerHTML]="'footer.links.home' | translate"></a></li>
          </ul>
        </div>

        <!-- Bloc services -->
        <div class="col-lg-3 col-6 footer-links">
          <h4 [innerHTML]="'footer.services.title' | translate"></h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <span [innerHTML]="'footer.services.dev' | translate"></span></li>
            <li><i class="bi bi-chevron-right"></i> <span [innerHTML]="'footer.services.migration' | translate"></span></li>
            <li><i class="bi bi-chevron-right"></i> <span [innerHTML]="'footer.services.cloud_native' | translate"></span></li>
            <li><i class="bi bi-chevron-right"></i> <span [innerHTML]="'footer.services.terraform' | translate"></span></li>
            <li><i class="bi bi-chevron-right"></i> <span [innerHTML]="'footer.services.kubernetes' | translate"></span></li>
            <li><i class="bi bi-chevron-right"></i> <span [innerHTML]="'footer.services.support' | translate"></span></li>
            <li><i class="bi bi-chevron-right"></i> <span [innerHTML]="'footer.services.consulting' | translate"></span></li>
            <li><i class="bi bi-chevron-right"></i> <span [innerHTML]="'footer.services.devops' | translate"></span></li>
          </ul>
        </div>

        <!-- Bloc contact -->
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4 [innerHTML]="'footer.contact.title' | translate"></h4>
          <p>
            BP 15<br>
            6 All de la Chavannerie<br>
            45240, La Ferté Saint Aubin<br><br>
            <strong>Phone FR:</strong> +33 6 34 49 12 75<br>
            <strong>Phone US:</strong> +1 647 313 8837<br>
            <strong>Email:</strong> lexoft.eurl&#64;gmail.com<br>
          </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright" [innerHTML]="'footer.copyright' | translate"></div>
  </div>
</footer>
