<section id="about" class="about">

  <div class="container" data-aos="fade-up">
    <div class="row gx-0">

      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h3>Qui sommes nous</h3>
          <div>
            <h1>Découvrez <strong>LEXOFT</strong> : Votre Partenaire Freelance en Développement Informatique</h1>
            <p>LEXOFT est bien plus qu'une simple société de développement informatique - <strong>nous sommes votre partenaire dédié à la réussite de vos projets</strong>. Notre expertise et notre passion pour l'innovation nous distinguent, faisant de nous le choix idéal pour tous vos besoins en matière de développement logiciel.</p>
            <p>En tant que spécialistes freelance du développement informatique, nous nous concentrons sur les technologies de pointe telles que <strong>Java / Spring</strong>, <strong>Typescript / Angular</strong> et le <strong>cloud AWS</strong>. Cela nous permet de créer des solutions logicielles robustes, évolutives et hautement performantes.</p>
            <p>Que vous cherchiez à mettre en place une présence en ligne dynamique, à développer des applications Java puissantes, une interface utilisateur, à migrer vers le cloud AWS... <strong>LEXOFT</strong> est là pour transformer vos idées en réalité. Notre engagement envers l'excellence technique et notre approche centrée sur le client garantissent des résultats exceptionnels à chaque projet.</p>
          </div>

          <div class="text-center text-lg-start">
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img ngSrc="assets/img/sotware_engineering.jpg" width="1280" height="720" class="img-fluid" alt="">
      </div>

    </div>
  </div>

</section>
