<section id="about" class="about">

  <div class="container" data-aos="fade-up">
    <div class="row gx-0">

      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h3>{{ 'whoweare.section' | translate }}</h3>
          <div>
            <h1 [innerHTML]="'whoweare.title' | translate"></h1>
            <p [innerHTML]="'whoweare.description' | translate"></p>
          </div>

          <div class="text-center text-lg-start">
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img ngSrc="assets/img/sotware_engineering.jpg" width="1280" height="720" class="img-fluid" alt="">
      </div>

    </div>
  </div>

</section>
