<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up">
        <div [innerHTML]="'header.title' | translate | sanitizeHtml"></div>
        <h2 data-aos-delay="400" [innerHTML]="'header.description' | translate | sanitizeHtml"></h2>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img
          ngSrc="assets/img/ChatGPT%20Image%20Jun%209,%202025,%2002_00_07%20PM.png"
          ngOptimizedImage
          width="1024"
          height="1024"
          alt="Illustration IA LEXOFT"
          class="img-fluid rounded shadow-sm"
          priority
        />
      </div>
    </div>
  </div>
</section>
