<nav id="navbar" class="navbar">
  <ul>
    <li><a class="nav-link scrollto active" [routerLink]="['/home']">Accueil</a></li>
    <li><a class="nav-link scrollto" (click)="scrollToElement('about')" [ngStyle]="{cursor: 'pointer'}">Qui sommes nous?</a></li>
    <li><a class="nav-link scrollto"  (click)="scrollToElement('values')" [ngStyle]="{cursor: 'pointer'}">Nos valeurs</a></li>
    <li><a class="nav-link scrollto" (click)="scrollToElement('features')" [ngStyle]="{cursor: 'pointer'}">Notre expertise</a></li>
    <li><a class="nav-link scrollto" (click)="scrollToElement('offre')" [ngStyle]="{cursor: 'pointer'}">Notre offre</a></li>
    <li><a class="nav-link scrollto" (click)="scrollToElement('services')" [ngStyle]="{cursor: 'pointer'}">Certifications</a></li>
    <li><a class="nav-link scrollto" (click)="scrollToElement('team')" [ngStyle]="{cursor: 'pointer'}">Equipes</a></li>
    <li><a class="nav-link scrollto" (click)="scrollToElement('faq')" [ngStyle]="{cursor: 'pointer'}">F.A.Q</a></li>
    <li class="dropdown"><a (click)="scrollToElement('portfolio')" [ngStyle]="{cursor: 'pointer'}"><span>Portfolio</span> <i class="bi bi-chevron-down"></i></a>
      <ul>
        <li><a [routerLink]="['home', 'portfolio-details', 1]">App 1</a></li>
        <li><a [routerLink]="['home', 'portfolio-details', 2]">App 2</a></li>
      </ul>
    </li>
    <li><a class="nav-link scrollto" (click)="scrollToElement('clients')" [ngStyle]="{cursor: 'pointer'}">Clients</a></li>
    <li><a class="nav-link scrollto" (click)="scrollToElement('contact')" [ngStyle]="{cursor: 'pointer'}">Contact</a></li>
  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav>
