
<div class="container" data-aos="fade-up">


  <div class="row feature-icons" data-aos="fade-up">
    <h3 style="margin-bottom: 50px;">Clés de la réalisation d'un logiciel innovant</h3>

    <div class="row">

      <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
        <img src="assets/img/9-types-of-software-development.jpg" class="img-fluid p-4" alt="">
      </div>

      <div class="col-xl-8 d-flex content">
        <div class="row align-self-center gy-4">

          <div class="col-md-6 icon-box" data-aos="fade-up">
            <i class="ri-mac-fill"></i>
            <div>
              <h4>Expertise Approfondie en Développement Java et Angular</h4>
              <p>Nous possédons une solide expérience dans le développement avec Java et Angular, illustrant notre capacité à concevoir des solutions robustes et performantes en utilisant ces technologies modernes de développement.</p>
            </div>
          </div>

          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <i class="ri-cloud-line"></i>
            <div>
              <h4>Maîtrise des services cloud AWS</h4>
              <p>Notre expertise englobe la conception, le déploiement et la gestion d'applications sur AWS. Nous mettons en lumière nos compétences dans le provisionnement d'infrastructures cloud, l'utilisation de services tels que EC2, S3, RDS, ainsi que notre capacité à optimiser les performances et la fiabilité des applications déployées sur AWS.</p>
            </div>
          </div>

          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <i class="ri-window-fill"></i>
            <div>
              <h4>Connaissance Avancée de Kubernetes pour l'Orchestration de Conteneurs</h4>
              <p>Nous excellons dans l'utilisation de Kubernetes pour l'orchestration de conteneurs, contribuant ainsi à l'amélioration de l'agilité et de la disponibilité de vos applications.</p>
            </div>
          </div>

          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <i class="ri-git-commit-fill"></i>
            <div>
              <h4>Pratiques DevOps Évoluées pour une Livraison Continue de Qualité</h4>
              <p>Nous avons la capacité d'automatiser les processus de développement, de test et de déploiement, en mettant en place des pipelines CI/CD efficaces. Nous intégrons également des pratiques telles que l'infrastructure as code, la surveillance et le logging pour garantir une livraison continue de haute qualité.</p>
            </div>
          </div>

          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <i class="ri-command-line"></i>
            <div>
              <h4>Expérience de Collaboration au sein d'Équipes Multidisciplinaires</h4>
              <p>Notre capacité à travailler efficacement au sein d'équipes multidisciplinaires est mise en avant, avec une expérience de collaboration avec des développeurs, des ingénieurs cloud, des administrateurs système et d'autres parties prenantes pour assurer le succès des projets.</p>
            </div>
          </div>

          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <i class="ri-lock-fill"></i>
            <div>
              <h4>Engagement envers la Sécurité et la Conformité</h4>
              <p>Nous sommes engagés envers la sécurité et la conformité, avec une expérience dans la mise en œuvre de bonnes pratiques de sécurité des données, de gestion des identités et des accès, ainsi que dans le respect des réglementations et des normes de l'industrie.</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
