<section id="team" class="team">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>Team</h2>
    </header>

    <div class="row gy-4 justify-content-center align-items-center">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/profil.jpeg" class="img-fluid" alt="">
            <div class="social">
              <a href="https://www.linkedin.com/in/alexandre-bessard/"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Alexandre Bessard</h4>
            <span>CEO</span>
            <p>Avec 5 années d'expérience dans l'industrie du développement logiciel, je suis passionné par la création de solutions innovantes et performantes pour mes clients.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
