<section id="contact" class="contact py-5">
  <div class="container" data-aos="fade-up">
    <header class="section-header text-center mb-5">
      <h2 class="fw-bold">Contact</h2>
    </header>

    <div class="row gy-4 justify-content-center">

      <div class="col-lg-4 col-md-6">
        <div class="info-box shadow-sm p-4 text-center rounded-4 h-100">
          <i class="bi bi-envelope display-5 mb-3 text-primary"></i>
          <h4>Email</h4>
          <p class="mb-0">lexoft.eurl&#64;gmail.com</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="info-box shadow-sm p-4 text-center rounded-4 h-100">
          <i class="bi bi-telephone display-5 mb-3 text-success"></i>
          <h4>Téléphone</h4>
          <p class="mb-0">+33 6 34 49 12 75 (France)<br>+1 647 313 8837 (US/Canada)</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="info-box shadow-sm p-4 text-center rounded-4 h-100">
          <i class="bi bi-geo-alt display-5 mb-3 text-danger"></i>
          <h4>Adresse</h4>
          <p class="mb-0">BP 15<br>6 Allée de la Chavannerie<br>45240, La Ferté Saint Aubin</p> <p>France</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="info-box shadow-sm p-4 text-center rounded-4 h-100">
          <i class="bi bi-clock display-5 mb-3 text-warning"></i>
          <h4>Horaires</h4>
          <p class="mb-0">Lundi - Vendredi<br>9:00 - 18:00</p>
        </div>
      </div>

    </div>
  </div>
</section>
