<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Contact</h2>
    </header>
    <div class="row gy-4">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="info-box">
          <i class="bi bi-geo-alt"></i>
          <h3>Adresse</h3>
          <p>6 Allee de la Chavannerie,<br>45240, La Ferte Saint Aubin</p>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <div class="info-box">
          <i class="bi bi-telephone"></i>
          <h3>Téléphone</h3>
          <p>+33 6 34 49 12 75<br>+1 647 313 8837</p>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <div class="info-box">
          <i class="bi bi-envelope"></i>
          <h3>Email</h3>
          <p>alexandre.bessard&#64;gmail.com</p>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <div class="info-box">
          <i class="bi bi-clock"></i>
          <h3>Horaires</h3>
          <p>Lundi - Vendredi<br>9:00 - 17:00</p>
        </div>
      </div>
    </div>
  </div>
</section>
