<section id="faq" class="faq">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>F.A.Q</h2>
      <p>Questions fréquemment posées</p>
    </header>

    <div class="row">
      <div class="col-lg-6">
        <!-- F.A.Q List 1-->
        <div class="accordion accordion-flush" id="faqlist1">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                Quelles sont vos compétences spécifiques en développement informatique ?
              </button>
            </h2>
            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                En tant que freelance en développement informatique, je suis spécialisé dans les technologies spécifiques comme Java, Typescript, Spring Boot, Angular, AWS, Kubernetes etc... avec une expérience prouvée dans la création d'applications web</div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                Comment organisez-vous votre travail en tant que freelance ?
              </button>
            </h2>
            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                J'adopte une approche méthodique et flexible. Je planifie mes tâches, respecte les délais et suis ouvert à la communication régulière avec le client pour assurer un suivi transparent du projet.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                Comment facturez-vous vos services en tant que freelance ?
              </button>
            </h2>
            <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                Ma tarification est basée sur un tarif journalier. Je m'efforce de proposer des solutions tarifaires flexibles et transparentes en fonction des besoins spécifiques du projet.
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-6">

        <!-- F.A.Q List 2-->
        <div class="accordion accordion-flush" id="faqlist2">

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                Quelle est votre expérience antérieure en tant que freelance ?
              </button>
            </h2>
            <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
              <div class="accordion-body">
                Avec plus de 5 ans d'expérience et détenteur de certifications reconnues sur le marché, j'ai collaboré à une variété de projets, allant de la conception d'applications complexes à la résolution de problèmes spécifiques liés au développement informatique.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                Comment gérez-vous les problèmes techniques éventuels pendant un projet ?
              </button>
            </h2>
            <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
              <div class="accordion-body">
                Je suis habitué à résoudre rapidement les problèmes techniques. La communication ouverte avec le client est primordiale. En cas de problème, je travaille en étroite collaboration pour identifier, résoudre et mettre en œuvre des solutions efficaces.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                Comment maintenez-vous vos compétences à jour en tant que freelance en développement informatique ?
              </button>
            </h2>
            <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
              <div class="accordion-body">
                Je reste constamment informé des dernières tendances et technologies en participant à des formations, en lisant des articles spécialisés et en collaborant avec d'autres professionnels du secteur. Cela me permet d'apporter les solutions les plus actuelles à mes clients.
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</section>
